In [4]:
import pandas as pd
import numpy as np
from pandas.api.types import is_string_dtype,is_numeric_dtype

In [3]:
df=pd.read_csv("data/Train.csv",parse_dates=["saledate"],low_memory=False)

In [5]:
def train_cats(df):
    for n,c in df.items():
        print(n)
        if is_string_dtype(c):
            df[n]=c.astype("category").cat.as_ordered()

In [11]:
def apply_cats(df,train):
    for n,c in df.items():
        print(n)
        if train[n].dtype=="category":
            df[n]=pd.Categorical(c,categories=train[n].cat.categories,ordered=True)

In [10]:
def numericalize(df,col_name):
    if df[col_name].dtype=="category":
        df[col_name]=df[col_name].cat.codes+1

In [12]:
def add_datepart(df,col_name,drop=True):
    dt_column=df[col_name]
    col_dtype=dt_column.dtype
    attr=["year","month","week","day","dayofweek","dayofyear",'is_month_end','is_month_start','is_quarter_end','is_quarter_start','is_year_end','is_year_start']
    for a in attr:
        df["Date" + a.capitalize()]=getattr(dt_column.dt,a)
    df["Date"+"Elapsed"] = dt_column.astype(np.int64)//10**9
    if drop:
        df.drop(col_name,inplace=True,axis=1)

In [40]:
df["UsageBand"].cat.set_categories(["High","Medium","Low"],ordered=True,inplace=True)

In [78]:
add_datepart(df,"saledate")

/tmp/ipykernel_6056/1134362275.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["Date" + a.capitalize()]=getattr(dt_column.dt,a)

In [62]:
numericalize(df,"UsageBand")

In [79]:
df

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,DateDay,DateDayofweek,DateDayofyear,DateIs_month_end,DateIs_month_start,DateIs_quarter_end,DateIs_quarter_start,DateIs_year_end,DateIs_year_start,DateElapsed
0,1139246,66000,999089,3157,121,3.0,2004,68.0,3,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,57000,117657,77,121,3.0,1996,4640.0,3,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,1,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,1,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,S175,...,23,3,204,False,False,False,False,False,False,1248307200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,0,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,0,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,0,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,0,30NX,...,25,1,298,False,False,False,False,False,False,1319500800
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,0,30NX,...,25,1,298,False,False,False,False,False,False,1319500800

In [80]:
import os

In [83]:
os.makedirs("tmp",exist_ok=True)
df.to_feather("tmp/bulldozer_1")

In [82]:
pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Collecting pyarrow
  Downloading pyarrow-12.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.9/38.9 MB 9.1 MB/s eta 0:00:000m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.16.6 in /home/yasin/.local/lib/python3.10/site-packages (from pyarrow) (1.25.0)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1
Note: you may need to restart the kernel to use updated packages.

In [38]:
df=pd.read_feather("tmp/bulldozer_1")

In [39]:
df

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,DateDay,DateDayofweek,DateDayofyear,DateIs_month_end,DateIs_month_start,DateIs_quarter_end,DateIs_quarter_start,DateIs_year_end,DateIs_year_start,DateElapsed
0,1139246,66000,999089,3157,121,3.0,2004,68.0,3,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,57000,117657,77,121,3.0,1996,4640.0,3,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,1,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,1,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,S175,...,23,3,204,False,False,False,False,False,False,1248307200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401120,6333336,10500,1840702,21439,149,1.0,2005,NaN,0,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401121,6333337,11000,1830472,21439,149,1.0,2005,NaN,0,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401122,6333338,11500,1887659,21439,149,1.0,2005,NaN,0,35NX2,...,2,2,306,False,False,False,False,False,False,1320192000
401123,6333341,9000,1903570,21435,149,2.0,2005,NaN,0,30NX,...,25,1,298,False,False,False,False,False,False,1319500800
401124,6333342,7750,1926965,21435,149,2.0,2005,NaN,0,30NX,...,25,1,298,False,False,False,False,False,False,1319500800

In [40]:
def fix_missing_value(df,col_name,nan_dict,is_train):
    col = df[col_name]
    if is_train:
        if is_numeric_dtype(col):
            if col.isnull().sum():
                df[col_name+"_na"]=col.isnull()
                nan_dict[col_name]=col.median()
                df[col_name]=col.fillna(nan_dict[col_name])
    else:
        if is_numeric_dtype(col):
            if col_name in nan_dict:
                df[f"{col_name}_na"]=col.isnull()
                df[col_name]=df[col_name].fillna(nan_dict[col_name])
            else:
                df[col_name]=col.fillna(col.median())

In [28]:
fix_missing_value(df,"MachineHoursCurrentMeter",nan_dict={},is_train=True)

In [9]:
df["MachineHoursCurrentMeter_na"]

0         False
1         False
2         False
3         False
4         False
          ...
401120     True
401121     True
401122     True
401123     True
401124     True
Name: MachineHoursCurrentMeter_na, Length: 401125, dtype: bool

In [41]:
def proc_df(df,y_fld,nan_dict=None,is_train=True):
    df=df.copy()
    y=df[y_fld].values
    df.drop([y_fld],axis=1,inplace=True)
    if not nan_dict:
        nan_dict={}
        
    for n,c in df.items():
        fix_missing_value(df,n,nan_dict,is_train)
        numericalize(df,n)
    if is_train:
        return df,y,nan_dict
    return df,y

In [42]:
def split_train_val(df,n):
    return df[:n].copy(),df[n:].copy()

In [43]:
n_valid=12000
n_train=len(df)-n_valid
raw_train,raw_valid=split_train_val(df,n_train)
x_train,y_train,nas=proc_df(raw_train,"SalePrice")

In [44]:
x_valid,y_valid=proc_df(raw_valid,"SalePrice",nan_dict=nas,is_train=False)

In [45]:
x_valid.columns==x_train.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])